@media (min-width: 1600px) {
    .container {
        max-width: var(--content_width);
    }
}

@media (min-width: 992px) {
    header {
        .menu_container {
            width: 100%;
            display: flex !important;
            flex-grow: 1;
            flex-basis: 100%;
            align-items: center;
        }
        ul.navbar-nav {
            border: 1px solid #EFEFEF;
            padding: 0 .5rem;
            border-radius: 50px;
            li.nav-item {
                margin: .25rem 1rem;
                font-weight: 500;
                font-size: var(--bs-fs22);
                font-family: var(--bs-urbanist);
            }
            .nav-link {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -5px;
                    top: 45%;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: transparent;
                }
                &.active:before {
                    background-color: var(--bs-themecolor);
                }
            }
        }
    }
    .service-slider {
        .owl-nav {
            display: none;
        }
    }
    .ld_section_3 {
        .img-col img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 38%;
            object-fit: cover;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    header {
        ul.navbar-nav {
            li.nav-item {
                margin: .25rem;
            }
        }
    }

    .hero_section {
        .hero_row {
            &:before, &:after {
                width: 60px;
                height: 60px;
            }
        }
        h1 {
            span {
                right: 27px;
            }
        }
        .hero_tech_text {
            padding-left: 50px;
            .htt_left {
                width: 50%;
                img {
                    width: 80px;
                }
            }
            .htt_right {
                img {
                    width: 60px;
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    :root {
        --bs-fs100: 80px;
        --bs-fs80: 56px;
        --bs-fs70: 48px;
        --bs-fs60: 42px;
        --bs-fs50: 35px;
        --bs-fs40: 32px;
        --bs-fs35: 27px;
        --bs-fs30: 23px;
        --bs-fs24: 18px;
        --bs-fs22: 16px;
        --bs-fs20: 15px;
    }
}

@media (max-width: 991px) {
.container {
    padding-left: 40px;
    padding-right: 40px;
}
.pt_pb_3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.pt_3 {
    padding-top: 30px;
}
.pb_3 {
    padding-bottom: 30px;
}
header {
    .theme_toggle_btn {
        margin-left: 0;
    }
    .theme_switch_btn {
        margin-left: auto;
    }
    .navbar {
        .navbar-toggler {
            width: 50px;
            height: 50px;
            border-radius: 0;
            background: transparent;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 0;
            min-width: unset;
            margin: 0;
            padding: 0;
            margin-left: 0.65rem;
            outline: none;
            box-shadow: none !important;
            position: relative;
            z-index: 10001;
            .icon-bar {
                display: block;
                width: 45px;
                height: 5px;
                border-radius: 0;
                position: relative;
                background-color: var(--bs-themecolor);
                transition: all 500ms ease-in-out;
            }
            .icon-bar+.icon-bar {
                margin-top: 10px;
            }
        }
        .navbar-toggler.active {
            .icon-bar {
                background: var(--bs-themecolor);
            }
            .icon-bar:nth-of-type(1) {
                margin-top: 0;
                top: 11px;
                transform: rotate(45deg);
            }
            .icon-bar:nth-of-type(2) {
                background: transparent !important;
            }
            .icon-bar:nth-of-type(3) {
                margin-top: 2px;
                top: -10px;
                transform: rotate(-45deg);
            }
        }
        .nav_overlay {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            background-color: #000000;
            opacity: 0.7;
            z-index: 990;
            &.show {
                display: block;
            }
        }

        #mainNavbar {
            &.collapse {
                position: fixed;
                z-index: 1000;
                transition: all .5s ease;
                top: 0;
                bottom: 0;
                right: -100%;
                width: 0;
                height: 100% !important;
                display: block;
                background: var(--bs-white);
            }
            &.collapsing {
                transition: all .18s ease-in;
                position: fixed;
                top: 0;
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 100% !important;
                display: block;
            }
            &.collapse.show {
                right: 0;
                width: 100%;
                padding: 110px 0 20px;
            }

            &.collapse .menu_container {
                position: relative;
                height: 100%;
                padding: 0 40px;
                overflow: auto;
                overflow-x: hidden;
            }

            &.collapse ul.navbar-nav {
                flex-direction: column;
                /* text-align: right; */
            }
            li {
                margin: 8px 0;
            }
            .nav-link {
                width: auto;
                max-width: 100%;
                display: inline-block;
                font-weight: 500;
                font-size: var(--bs-fs40);
                font-family: var(--bs-urbanist);
                color: var(--bs-textdarkgrey);
                line-height: 1;
                padding: 0.5rem 0 !important;
                position: relative;
                transition: .4s all;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 50%;
                    background-color: var(--bs-underline);
                    z-index: -1;
                    transition: .4s all;
                }
            }

            .nav-link.active,
            .nav-link:hover {
                &:before {
                    width: 100%;
                }
            }

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu {
                display: block;
            }

            ul.dropdown-menu {
                background: transparent;
                border: 0;
                padding: 0;
                text-align: right;
            }

            .dropdown-item {
                width: auto;
                max-width: 100%;
                display: inline-block;
                font-size: var(--bs-fs30);
                font-family: var(--bs-stolzlregular);
                color: var(--bs-themetext);
                padding: 0;
                background: transparent;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 8px;
                    width: 0;
                    height: 30%;
                    background-color: var(--bs-underline);
                    z-index: -1;
                    transition: .4s all;
                }

                &:hover:before {
                    width: 100%;
                }
            }
        }

        .menu_container::-webkit-scrollbar-track {
            background-color: #e7e7e7;
        }
        .menu_container::-webkit-scrollbar {
            width: 4px;
            background-color: #e7e7e7;
        }
        .menu_container::-webkit-scrollbar-thumb {
            background-color: #999999;
        }
    }
}
.hero_section {
    .hero_row {
        position: relative;
        padding: 3rem 0;
    }
}
.feature_section {
    .feature_row {
        margin-top: 0 !important;
        .feature-col {
            margin-top: 2rem;
            &:nth-child(3) {
                border-left: 0;
            }
        }
    }
}
.service-slider {
    .item {
        .item-tags {
            span {
                padding: 4px 10px;
                margin: 3px;
                margin-left: 0;
                font-size: 14px;
            }
        }
    }
}
.project_section {
    .border-wrapper {
        padding: 20px;
        border-radius: 20px;
    }
    .anim_circle {
        width: 150px;
        height: 150px;
        bottom: -75px;
        outline: 5px solid #fafafa;
        span {
            width: 90px;
            height: 90px;
        }
    }
}
.insight_section {
    .title_btn_flex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        h2 br {
            display: none;
        }
    }
}
.service-grid {
    grid-template-columns: repeat(2, 1fr);
}

.talk_section {
    .sec-content {
        text-align: center;
    }
    .sub_title {
        justify-content: center;
    }
}
.bg_theme_work_station {
    .work-info-card {
        width: 160px;
        padding: 15px;
        .work-card-number {
            width: 22px;
            height: 22px;
            font-size: 11px;
            line-height: 1;
        }
        p {
            font-size: 12px;
        }
        h4 {
            font-size: 15px;
        }
    }
    .work-suggestions {
        button {
            font-size: 11px;
        }
    }
    .work-phone {
        width: 275px;
    }
    .work-card-1, .work-card-3, .work-card-5 {
        left: 1.5%;
    }
    .work-card-2, .work-card-4, .work-card-6 {
        right: 1.5%;
    }
}
}

@media (min-width: 700px) and (max-width: 991.98px) {
    :root {
        --bs-fs100: 65px;
    }
    .hero_section {
        .hero_row {
            &:before, &:after {
                width: 42px;
                height: 42px;
                top: 0;
            }
            &:before {
                left: 40px;
            }
            &:after {
                right: 20px;
            }
        }
        h1 {            
            padding-top: 10px;
            span {
                right: 27px;
            }
        }
        .hero_tech_text {
            padding-left: 10px;
            .htt_left {
                width: 60%;
                margin-top: -10px;
                img {
                    width: 80px;
                }
            }
            .htt_right {
                img {
                    width: 60px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 699.98px) {
    :root {
        --bs-fs100: 55px;
    }
    .hero_section {
        .hero_row {
            &:before, &:after {
                width: 42px;
                height: 42px;
                top: 0;
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        h1 {            
            padding-top: 10px;
            span {
                right: 27px;
            }
        }
        .hero_tech_text {
            .htt_left {
                width: 60%;
                font-size: 15px;
                img {
                    width: 80px;
                }
            }
            .htt_right {
                img {
                    width: 40px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .insight_section {
        .insight_img {
            height: 200px;
            border-radius: 20px;
        }
        .insight_content_btn {
            .arrow_btn svg {
                width: 38px;
                height: 38px;
            }
        }
    }
    footer {
        .ftr_contact {
            a {
                .icon_style {
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                }
            } 
        }  
    }
    .stacking-card {
        height: auto;
        min-height: 500px;
        display: block;
        margin-bottom: 20px;
        .stacking-content, .stacking-image {
            width: 100%;
        }
        .stacking-content {
            min-height: 250px;
            padding: 30px;
        }
        .stacking-image {
            height: 250px;
        }
    }
    .team-modal {
        padding: 20px;
        max-height: 95vh;
    }
    .bg_theme_work_station {
        .work-section {
            flex-wrap: wrap;
            padding: 0 1rem;
        }
        .work-info-card {
            width: calc(50% - 1rem);
            min-height: 65px;
            padding: 10px;
            position: relative;
            left: unset;
            right: unset;
            top: unset;
            bottom: unset;
            transform: none;
            margin: .5rem;
            border-radius: 15px 15px 15px 0;
        }
        .work-phone {
            width: 290px;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 575px) {
:root {
    --bs-fs100: 40px;
    --bs-fs80: 40px;
    --bs-fs70: 38px;
    --bs-fs60: 35px;
    --bs-fs50: 32px;
    --bs-fs40: 28px;
    --bs-fs35: 24px;
    --bs-fs30: 21px;
    --bs-fs24: 17px;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
}
header {
    a.navbar-brand {
        max-width: 140px;
    }
    .navbar {
        #mainNavbar {
            &.collapse .menu_container {
                position: relative;
                height: 100%;
                padding: 0 20px;
                overflow: auto;
                overflow-x: hidden;
            }
        }
    }
}
.hero_section {
    .line-2 {
        &:after {
            width: 25px;
            height: 25px;
            margin-bottom: -5px;
            margin-left: 10px;
        }
    }
    .hero_row {
        padding: 0;
        h1 {
            span {
                position: unset;
            }
        }
        &:before, &:after {
            width: 50px;
            height: 50px;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    .hero_tech_text {
        flex-direction: column;
        position: relative;
        .htt_left {
            width: 100%;
            margin-top: 0;
            font-size: 14px;
            img {
                width: 70px;
            }
        }
        .htt_right {
            width: 100%;
            justify-content: center;
            margin-top: 2rem;
            img {
                width: 40px;
                position: absolute;
                top: 0;
                left: 55%;
            }
        }
    }
}
.feature_section {
    .feature_row {
        .feature-col {
            svg {
                width: 42px;
                height: 42px;
            }
        }
    }
}
.project_section {
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
    ul li {
        padding-left: 32px;
        &::before {
            width: 21px;
            height: 21px;
            font-size: 12px;
        }
    }
    .anim_circle {
        width: 100px;
        height: 100px;
        bottom: -50px;
        span {
            width: 60px;
            height: 60px;
        }
    }
}
footer {
    .copyright_flex {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.service-grid {
    grid-template-columns: 1fr;
}
}

@media (max-width: 480px) {

}

@media (max-width: 370px) {
    :root {
        --bs-fs100: 32px;
        --bs-fs80: 32px;
        --bs-fs70: 32px;
        --bs-fs60: 32px;
        --bs-fs50: 30px;
    }
    .hero_section {
        .hero_row {
            &:before, &:after {
                top: -2rem;
            }
        }
    }
}