:root {
    --bs-themecolor: #539A14;
    --bs-themetext: #fff;
    --bs-underline: #000000;
    --color_1: #8BCF42;
    --color_2: #72BB2B;
    --color_3: #63AD20;
    --color_4: #539A14;
    --color_5: #5FA91B;
    --color_6: #43800F;
    --color_7: #315F0A;
    --color_8: #B6DC85;
}
.border_btn:hover {
    color: var(--bs-themetext) !important;
    svg {
        fill: var(--bs-themetext) !important;
    }
}
.bg_theme {
    color: var(--bs-themetext) !important;
}
.theme_btn, .theme_btn:hover {
    color: var(--bs-themetext) !important;
    svg path {
        fill: var(--bs-themetext) !important;
    }
    img {
        filter: brightness(0) invert(1);
    }
}
header {
    .theme_toggle_btn svg path {
        fill: var(--bs-white) !important;
    }
}
.news_section {
    .arrow_btn {
        svg path {
           fill: var(--bs-white) !important; 
        }
    }
}
.project_section {
    ul li {
        &::before {
            color: var(--bs-white) !important;
        }
    }
}
.service-slider-row {
    .slider-buttons button.btn-next img {
        filter: brightness(0) invert(1);
    }
}
.service-slider {
    .item:hover {
        h3, .item-count, p {
            color: var(--bs-white) !important;
        }
    }
}
.info_sec {
    h2 a {
        &:before {
            background-color: var(--bs-darkgrey);
        }
    }
}
footer {
    .ftr_contact {
        a {
            &:hover {
                .icon_style {
                    svg {
                        fill: var(--bs-themetext) !important;
                    }
                }
            }
        }
    }
    .scl_links {
        a:hover {
            svg {
                fill: var(--bs-themetext) !important;
            }
        }
    }
}